<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">Over mij</a></li>
	        		<li><a href="/cv">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jaron.trossaert@gmail.com">E-mail</a></li>
				<li><a href="https://www.linkedin.com/in/jaron-trossaert-7b255684/">LinkedIn</a></li>
	        		<li><a href="https://github.com/Jornax">GitHub</a></li>
				<li><a href="https://twitter.com/JornaxK">Twitter</a></li>
				<li><a href="https://www.facebook.com/jaron.trostomaat">Facebook</a></li>
				</ul>
			</footer>
		</body>
	</html>
